.git
.gitignore
.platformio-core
**/.pio
**/node_modules
**/dist
**/__pycache__
**/*.db
**/*.md
backend/firebase
frontend/firebase
frontend/firebaseSDK.txt
frontend/vapidKey.txt
frontend/Web_Push_certificates.txt
frimware
deployment/.env
deployment/.known_hosts

